/* Clases base tipográficas del proyecto */

@layer base {
	body {
		font-family: var(--font-sans);
	}
}

@layer components {
	.text-base {
		font-family: var(--font-sans);
		line-height: 1.5;
	}

	.text-button {
		font-family: var(--font-mono);
		font-weight: 500;
		letter-spacing: 0.02em;
		font-size: clamp(8px, 3.4286px + 1.4286vw, 24px);
	}

	.title {
		font-family: var(--font-sans);
		font-size: clamp(16px, 2.286px + 4.2857vw, 64px);
	}

	.section-title {
		font-family: var(--font-sans);
		font-size: clamp(15px, 7.857px + 2.2321vw, 40px);
	}

	.paragraph {
		font-family: var(--font-sans);
		font-size: clamp(10px, 6px + 1.25vw, 24px);
	}
}
